<p>lista-encuesta works!</p>
<table>
    <tr *ngFor="let encuesta of getEncuestas()" [routerLink]="['/encuesta', encuesta.id]">
        <td>{{encuesta.id}}</td>
        <td>{{encuesta.titulo}}</td>
        <td>{{encuesta.fechaCreacion}}</td>
        <td>{{encuesta.estado}}</td>
    </tr>
</table>
<form [formGroup]="nuevaEncuesta" (ngSubmit)="onNuevaEncuestaSubmit()">
    <h5>Nueva encuesta</h5>
    <input id="id_titulo" type="text" formControlName="titulo" required/>
    <button type="submit">Crear</button>
</form>